html {
    background-image: url(./unsplash/ocean-pexels-smaller.jpg);

}

* { 
    text-align: center;
    font-family: cursive;
    border-radius: 15px
    box-sizing: border-box;

}

#big_day_today {
    border: 10px solid rgba(100%, 89.41%, 76.86%, .70);
    border-radius: 50%;
}


h1 {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 780px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 10px solid rgba(100%, 89.41%, 76.86%, .70);
    border-radius: 15px;    
}

h2 {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 10px solid rgba(100%, 89.41%, 76.86%, .70);
    border-radius: 15px;
}


body p {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: rgba(78, 78, 78, 0.75);
    border-style: outset;
    border: 10px solid rgba(100%, 89.41%, 76.86%, .70);
    border-radius: 15px;
    font-size: larger;
}



#aboutMe {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}


#picOfMe {
    border: 10px solid rgba(100%, 89.41%, 76.86%, .70);
    border-radius: 5px;
}

